body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000;
}

ul {
  list-style-type: none;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.header, .sub-header {
  color: #fff;
}

.container {
  max-width: 920px;
}